/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Código]
      ,[Código Forn Old]
      ,[Fornecedor]
      ,[IDMod_Prod]
      ,[Marca]
      ,[Grupo]
      ,[Familia]
      ,[CodCateg]
      ,[Modelo]
      ,[Ano_Prod]
      ,[SuperCat]
      ,[Ativo]
      ,[FOB]
      ,[FOBD]
      ,[CustoMedio]
      ,[CustoMedioSI]
      ,[Custo]
      ,[Custo Controle]
      ,[AtacadoESES]
      ,[Atacado]
      ,[AtacadoSPSP]
      ,[AtacadoSPFora]
      ,[AtacadoSCSC]
      ,[AtacadoSCFora]
      ,[AtacadoSCFora12]
      ,[AtacadoBase]
      ,[Varejo]
      ,[VarejoSD]
      ,[VarejoCD]
      ,[VarejoOrKit]
      ,[VarejoKit]
      ,[Funcionário]
      ,[Patrocinado]
      ,[Sócio]
      ,[Controle]
      ,[ControleAnt]
      ,[Real]
      ,[Oficial]
      ,[Paralelo]
      ,[Ind Est]
      ,[Peso L]
      ,[Peso B]
      ,[MedidaCm]
      ,[Etiqueta]
      ,[EstoqueIni]
      ,[Conc jun99]
      ,[Foto]
      ,[Local_Foto]
      ,[FlagNS]
      ,[DisKit]
      ,[FlagSite]
      ,[DescrIng]
      ,[Fabricante]
      ,[Pais]
      ,[SitProd]
      ,[FlagAssisTec]
      ,[EndEst]
      ,[ST]
      ,[ID_MLICMSSubs]
      ,[NCM]
      ,[FlagCompInt]
      ,[FlagPromo]
      ,[FlagEmLinha]
      ,[CodSucessor]
      ,[DescrSucessor]
      ,[ID_FamCert]
      ,[ID_PlantaFab]
      ,[ID_AtribTipo]
      ,[ID_AtribComp]
      ,[ID_AtribTam]
      ,[ID_AtribForro]
      ,[ID_AtribGenero]
      ,[ID_AtribManga]
      ,[Multiplo]
      ,[EtiqProd05]
      ,[EtiqProd06]
      ,[EtiqProd07]
      ,[EtiqProd08]
      ,[EtiqProd09]
      ,[EtiqProd10]
      ,[EtiqProd02]
      ,[ID_AtribEstTrama]
      ,[ValMSRP]
      ,[FlagBaixoGiro]
      ,[CodAntecessor]
      ,[DescrAntecessor]
      ,[EtiqProd11]
      ,[EtiqProd12]
      ,[EtiqProd13]
      ,[TPEtiqProd]
      ,[EtiqProd01_TAG]
      ,[EtiqProd02_TAG]
      ,[EtiqProd03_TAG]
      ,[EtiqProd04_TAG]
      ,[EtiqProd05_TAG]
      ,[EtiqProd06_TAG]
      ,[EtiqProd07_TAG]
      ,[EtiqProd08_TAG]
      ,[EtiqProd09_TAG]
      ,[EtiqProd10_TAG]
      ,[EtiqProd11_TAG]
      ,[EtiqProd12_TAG]
      ,[EtiqProd13_TAG]
      ,[CodProdOLD]
      ,[CodGradeOLD]
      ,[FlagAmostra]
      ,[AtribAA]
      ,[AtribAB]
      ,[AtribAC]
      ,[AtribAD]
      ,[AtribAE]
      ,[AtribDestaque]
      ,[AtribKit]
      ,[EspecAA]
      ,[EspecAB]
      ,[EspecAC]
      ,[EspecAD]
      ,[EspecAE]
      ,[PneuComp]
      ,[PneuIndice]
      ,[PneuCamAr]
      ,[AtribAF]
      ,[EspecAF]
      ,[AtribDestaqueCod]
      ,[EspecCodAA]
      ,[EspecCodAB]
      ,[EspecCodAC]
      ,[EspecCodAD]
      ,[EspecCodAE]
      ,[EspecCodAF]
      ,[DTCad_Prod]
      ,[OriCompra]
      ,[LimPerDescCom]
      ,[FlagMatProdServ_Prod]
      ,[IDSAM_Prod]
      ,[CodServ_Prod]
      ,[FlagEst_Prod]
      ,[Und_Prod]
      ,[IDFornUltCompra_Prod]
      ,[DTLcto_Prod]
      ,[CodVTEX_Prod]
      ,[CodVTEXSKU_Prod]
      ,[DescrDesemb_Prod]
      ,[NmCert_Prod]
      ,[DTValCert_Prod]
      ,[RenovCert_Prod]
      ,[VarejoDeSite]
      ,[VarejoPorSite]
      ,[Leadtime_Prod]
      ,[Autonomia_Prod]
      ,[AlturaCm_Prod]
      ,[LarguraCm_Prod]
      ,[ComprCm_Prod]
      ,[B2BEnviado_Prod]
	  -- select count(*)
  FROM [SispartsConexao].[dbo].[Cadastro de Produtos]
  where IDMod_Prod = 4223;
  -- WHERE [IDMod_Prod] IN ('041046','162243','162256','279357','346666','377069','442788','442893','464355','475808','420476');