-- 41L70n@!

-- DLookup("[Código]", "[Cadastro de Produtos]", "[Modelo]='TRANSPORTE'")

SELECT *
FROM [Cadastro de Produtos]
WHERE Modelo = 'TRANSPORTE'
;

SELECT CodigoForn_Grade, *
FROM tabGradeProdutos
WHERE CodigoForn_Grade = 'LB4104200-NS'
;



SELECT *
-- delete 
FROM tblCompraNF
--WHERE ID_CompraNF NOT IN (2137)
;


SELECT * 
-- delete 
FROM tblCompraNFItem
-- WHERE ID_CompraNFItem IN (2137)
;


/* 

UPDATE tblCompraNF
SET tblCompraNF.BaseCalcICMS_CompraNF = tblCompraNF.BaseCalcICMS_CompraNF/100
WHERE tblCompraNF.BaseCalcICMS_CompraNF > 0 ;


*/